.open {
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    text-align: center;
    border: 2px;
    border-style: double;
}

h1 {
    text-align: center;
    color: red;
}

.color {
    color: red;
}

.fontweight {
    font-weight: bold;
}

.fontsize {
    font-size: 20px;
}

.fontfamily {
    font-family: Arial, sans-serif;
}

.fontstyle {
    font-style: italic;
}

.textalign {
    text-align: center;
}

.part2 a {
    /* Dùng để chỉnh sửa thằng con trong một class cha */
    text-decoration: none;
    font-style: italic;
    color: red;
}